body {
  font-family: Arial, sans-serif;
}
h1 {
  color: #4e4e4e;
  display: block;
  text-align: center; 
  font-weight: bold;
  padding: 30px 30px;
}

h2 {
  color: #4e4e4e;
  display: block;

}
ul {
  margin: 30px auto;
  padding: 0;
}
li {
  color: #7c7c7c;
  display: block;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  list-style: none;
}
img {
  margin: 0 auto;
}
small {
  display: block;
  margin: 30px auto;
  text-align: center;
  font-size: 80%;
  font-weight: 400;
}
.current-weather {
  margin-top: 25px;
  line-height: 1;
  
}
.search-form {
  margin: 0 30px 30px;
}

